.headerStyle {
  background-color: #7dbcea;
  color: white;
  height: 10vh;
}

.contentStyle {
  background-color: #108ee9;
  color: white;
}

.footerStyle {
  background-color: #7dbcea;
  color: white;
}
